/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp C(C)     /* Copy (Ctrl+C) */
                &kp C(V)     /* Paste (Ctrl+V) */
                &kp C(SHIFT) /* Ctrl+Shift */
                &mkp MB2     /* Middle mouse button */
            >;
        };
    };
};