#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    behaviors {
        ml: behavior_momentary_layer {
            compatible = "zmk,behavior-momentary-layer";
            #binding-cells = <1>;
        };
    };

    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    default_transform: keymap_transform {
        compatible = "zmk,matrix-transform";
        rows = <1>;
        columns = <4>;
        map = <
            RC(0,0) RC(0,1) RC(0,2) RC(0,3)
        >;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-direct";
        label = "KSCAN";
        input-gpios
            = <&gpio0  9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio1 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio1 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &mkp MB3    // middle click
                &kp LC(C)   // ctrl+c
                &kp LC(V)   // ctrl+v
                &kp LS(LC)  // ctrl+shift
            >;
        };
    };
};